<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Product Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div align="center" class="container">
<img th:src="@{/images/electroBrands.png}" alt="page"/>
<form action="#" th:action="@{/save}" th:object="${product}" method="post">
<h2>Edit Product</h2>
<br></br>
<table class="table table-bordered">
<tr>
<td>Product ID</td>
<td><input type="text" th:field="*{id}"/></td>
<!-- if we declare it a column readonly means we can't edit that column -->
<!-- <td><input type="text" th:field="*{id}" readonly="readonly"/></td> -->
</tr>

<tr>
<td>Product Name</td>
<td><input type="text" th:field="*{name}"/></td>
</tr>

<tr>
<td>Product Brand</td>
<td><input type="text" th:field="*{brand}"/></td>
</tr>

<tr>
<td>Product Made In</td>
<td><input type="text" th:field="*{madein}"/></td>
</tr>

<tr>
<td>Product price</td>
<td><input type="text" th:field="*{price}"/></td>
</tr>

<tr>
<td>Product Photo</td>
<!-- <td><img th:src="@{${product.photo}}" width="80" height="100"/> -->
<td><input type="text" th:field="*{photo}"/></td>
</tr>

</table>
<button type="submit" class="left">Save</button>
</form>


</div>
</body>
</html>